* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* <!-- header --> */
.box-alto{
    width: 100%;
    background-color: white;
    position: fixed;
}

.box-logo{
    width: 12%;
    line-height: 70px;
    padding: 10px;
    float: left;
}

#logo{
    vertical-align: middle;
}

.nav1{
    width: 28%;
    line-height: 50px;
    padding: 10px;
    float: left;
}

.nav2{
    width: 400px;
    line-height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: right;
    text-align: right;
}

.li-nav1 a{
    float: left;
    margin: 10px;
    text-decoration: none;
}

.li-nav2 a{
    float: left;
    margin: 10px;
    text-decoration: none;
}

.boxbottone-inizia{
    width: 12%;
    line-height: 15px;
    padding: 30px;
    float: right;
}
.ulnav1, .ulnav2{
    list-style-type: none;
    text-align: right;
}

 .a-nav1, .a-nav2{
     color: black;
 }

.bottone-blu{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(0, 17, 255);
    padding: 10px 10px;
    font-size: 14px;
    float: right;
}

/* <!-- sidebar --> */
.sidebar-background{
    background-color: rgb(180, 208, 231);
}

.container-sidebar{
    width: 85%;
    margin: 0 auto;
    padding-top: 100px;
}

h1{
    font-size: 65px;
    margin-bottom: 20px;
}

.sidebar-box1{
    width: 40%;
    float: left;
}

.bottone-blu-sidebar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(0, 17, 255);
    padding: 10px 10px;
    font-size: 18px;
    text-align: center;
    line-height: 70px;
}
.freccia{
    font-size: 40px;
    margin-bottom: 60px;
}

.sidebar-box2{
    width: 60%;
    float: right;
    position: relative;
}

#img-sidebar{
    width: 100%;
    position: absolute;
    transform: translate( -50%, 0%);
    top: 50%;
    left: 60%;    
}
/* <!-- main --> */
/* <!-- sezione1 --> */

.container{
    width: 70%;
    margin: 0 auto;
}

.h2-sezione1{
    padding-top: 150px;
    font-size: 35px;
}

.fatturazione{
    padding-top: 50px;
    padding-bottom: 10px;
}

.box-colonne-sezione-1{
    width: 100%;
}

.box1-sezione1, .box2-sezione1, .box3-sezione1{
    width: calc( 100% / 3);
    float: left;
    padding: 8px;
    font-size: 14px;
}
.box-a{
    border: 1px solid grey;
    text-align: center;
    padding: 4px;
}

.box-b{
    border: 1px solid grey;
    padding: 20px;
    padding-bottom: 100px; 
}

.prezzo{
    margin-top: 10px;
    margin-bottom: 10px;
}

.mese{
    margin-bottom: 30px;
    color: grey;
}

.utente{
    line-height: 30px;
}

.bottone-blu-box-b a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(0, 17, 255);
    padding: 5px 20px 5px 20px;
    font-size: 15px;
    text-align: center;
    line-height: 100px;
    margin-left: 20px;
}
.acquista-ora{
    color: blue;
    text-decoration: none;
}
.hrbox{
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hrbox{
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.apici li{
    padding-left: 30p;
    list-style-type: none;
    line-height: 30px;
}

/* <!-- sezione2 --> */

.box-colonne-sezione-2{
    padding: 8px;
    padding-top: 40px;
}
.box-a-sezione2{
    border: 1px solid grey;
    text-align: center;
    padding: 4px;
}
.box-b-sezione2{
    border: 1px solid grey;
    padding: 20px;
    line-height: 30px;
    height: 130px;
}
.box-enterprise{
    width: 70%;
    float: left;
}
.contatti-prezzi{
    font-size: 14px;
}
.soluzioni{
    font-size: 12px;
}
.box-contatta-ufficio-vendite{
    float: right;
}
.bottone-blu-contatta-ufficio-vendite a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(0, 17, 255);
    padding: 5px 20px 5px 20px;
    font-size: 15px;
    text-align: center;
}
.box-foto-scritta{
    width: 100%;
    padding: 8px;
    margin-bottom: 70px;
}
.box-foto-scritta-box-a{
    padding-top: 50px;
    width: 50%;
    float: left;
}
.box-foto-scritta-box-b{
    padding-top: 50px;
    padding-left: 50px;
    width: 50%;
    float: right;
}
.img-partner{
    width: 100%;
    height: 100%;
}
.tex-partner{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.bottone-bianco-trova-partner a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 1px solid grey;
    padding: 5px 20px 5px 20px;
    font-size: 15px;
    text-align: center;
}

/* <!-- sezione3 --> */

.riga-a, .riga-b{
    width: 100%;
}
.box1-sezione3, .box2-sezione3, .box3-sezione3{
    width: calc( 100% / 3);
    float: left;
    padding: 20px;
}
.img-sezione3{
    width: 80%;
    height: 80%;
}
h5{
    margin-top: 20px;
    margin-bottom: 90px;
}
.scopri-di-più-sui-nostri-clienti{
    color: rgb(0, 17, 255);
    line-height: 40px;
    padding-bottom: 50px;
    font-size: 12px;
}
/* <!-- sezione4 --> */

.sezione4{
    width: 100%;
    padding-top: 50px;
}

.colonna-grigia{
    width: 520px;
    float: left;
}

.verde{
    width: 200px;
    height: 200px;
    background-color: rgb(162, 211, 155);
    float: left;
    padding: 50px;
    position: relative;
}
.marrone{
    width: 200px;
    height: 200px;
    background-color: rgb(97, 8, 43);
    float: left;
    position: relative;
}
.blu{
    width: 200px;
    height: 200px;
    background-color: rgb(0, 147, 206);
    float: left;
    position: relative;
}
.rosso{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 28, 28);
    float: left;
    position: relative;  
}
.grigio{
    width: 100%;
    height: 400px;
    background-color: rgb(245, 245, 245);
    position: relative;
    padding: 30px;
    padding-top: 150px;
}

.porpora{
    width: 200px;
    height: 200px;
    background-color: rgb(213, 0, 31);
    float: left;
    padding: 50px;
    position: relative;
    
}
.azzurro{
    width: 200px;
    height: 200px;
    background-color: rgb(180, 208, 231);
    float: left;
    position: relative;
}
.bluscuro{
    width: 200px;
    height: 200px;
    background-color: rgb(13, 36, 129);
    float: left;
    position: relative;

}
.giallo{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 216, 48);
    float: left;
    position: relative;
}
.w-30{
    float: left;
    width: 400px;
    height: 400px;
}
.img-sez4{
    filter:invert(1);
    width: 60%;
    height: 60%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.university_of_florida{
    height: 10%;
}

.designit{
    width: 20%;
    height: 20%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 15%;
}
.hrbox2{
    width: 10%;
    margin-bottom: 30px;
}

.autore{
    margin-top: 50px;
    margin-bottom: 50px;
}
/* <!-- sezione5 --> */

.sezione5{
width: 100%;
background-color: rgb(180, 208, 231);
position: relative;
}
.sezione5box1{
    width: 50%;
    float: left;
}
.sezione5box2{
    width: 50%;
    float: left;
}
.portadropbox{
    font-size: 30px;
    color: rgb(97, 8, 43);
    padding-top: 100px;
    padding-bottom: 100px;
}

.bottone-bianco-sezione5 a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    font-size: 18px;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 75%; 
}
.sezione5b{
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}
.h2Domandefrequenti{
    padding-bottom: 60px;
}

.rigasez5{
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: gray rgb(255, 255, 255) gray rgb(255, 255, 255);
}
.rigasez5b{
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: gray rgb(255, 255, 255) gray rgb(255, 255, 255);
}
.h5sezione5b{
    margin-top: 20px;
    margin-bottom: 20px;
}
.icona{
    width: 30px;
    float: right;
    font-size: 20px;
}
/* footer */

.background-scuro{
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding-top: 60px;
}
 .colonne{
    width: calc( 100% / 5);
    float: left;
}
.titolo-li{
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
}
.semplici-li-a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 12px;
    
}
.semplici-li-a:hover {
    text-decoration: underline;
}
.ul{
    list-style-type: none;
    line-height: 20px;
    font-weight: bold;
    padding-bottom: 100px;
}
hr{
    margin-top: 20px;
}
#logo2{
    text-align: center;
    vertical-align: middle;
    margin: 30px;
}
.bottonebluregistrati{
    color: white;
    vertical-align: middle;
    text-decoration: none;
    background-color: rgb(55, 157, 252);
    border-radius: 20px;
    padding: 15px 15px;
    font-size: 14px;
    box-shadow: 2px 2px 2px #3a3a3a;
    float: right;
    margin-top: 20px;
}
.it{
    color: white;
    padding-bottom: 20px;
    font-size: 12px;
}